@model ShopOnlineConnection.SanPham
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4e73df;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: deepskyblue;
        }
</style>


<h3>CREATE</h3>

<div style="margin:auto;">
    @using (Html.BeginForm("Edit", "AdminSanPham", FormMethod.Post, new { @style = "width : 50%; margin:auto" }))
    {
        <label for="msp">Mã Sản Phẩm</label>
        <input type="text" id="msp" name="MaSanPham" placeholder="Nhập Mã Sản Phẩm.." required value="@Model.MaSanPham">

        <label for="mlsp">Mã Loại Sản Phẩm</label>
        <input type="text" id="mlsp" name="MaLoaiSanPham" placeholder="Nhập Mã Loại Sản Phẩm.." required value="@Model.MaLoaiSanPham">

        <label for="mnxb">Mã Nhà Xuất Bản</label>
        <input type="text" id="mnxb" name="MaNhaXuatBan" placeholder="Nhập Mã Nhà Xuất Bản.." required value="@Model.MaNhaXuatBan">

        <label for="tsp">Tên Sản Phẩm</label>
        <input type="text" id="tsp" name="TenSanPham" placeholder="Nhập Tên Sản Phẩm.." required value="@Model.TenSanPham">

        <label for="hinhchinh" class="Hinhchinh" style="display:block;">
            Hình Chính
        </label>

        <input id="hinhchinh" name="Hinhchinh" type="file" required value="@Model.Hinhchinh" />

        <label for="hinh1" class="Hinh1" style="display:block;">
            Hình 1
        </label>

        <input id="hinh1" name="Hinh1" type="file" required value="@Model.Hinh1" />

        <label for="hinh2" class="Hinh2" style="display:block;">
            Hình 2
        </label>

        <input id="hinh2" name="Hinh2" type="file" required value="@Model.Hinh2" />

        <label for="gia" style="display:block;">Giá</label>
        <input type="text" id="gia" name="Gia" placeholder="Nhập Giá.." required value="@Model.Gia">

        <label for="tinhtrang">Tình Trạng</label>
        <select id="tinhtrang " name="TinhTrang" required>
            @if (Model.TinhTrang == "0")
            {
                <option value="0" selected>Chưa Khóa</option>
                <option value="1">Đã Khóa</option>
            }
            else
            {
                <option value="0">Chưa Khóa</option>
                <option value="1" selected>Đã Khóa</option>
            }

        </select>

        <label for="giabia">Giá Bìa</label>
        <input type="text" id="giabia" name="GiaBia" placeholder="Nhập Giá Bìa.." required value="@Model.GiaBia">

        <label for="tietkiem">Tiết Kiệm</label>
        <input type="text" id="tietkiem" name="TietKiem" placeholder="Nhập Tiết Kiệm.." required value="@Model.TietKiem">

        <label for="giamgia">Giảm Giá</label>
        <input type="text" id="giamgia" name="GiamGia" placeholder="Nhập Giảm Giá.." required value="@Model.GiamGia">

        <label for="tacgia">Tác Giả</label>
        <input type="text" id="tacgia" name="TacGia" placeholder="Nhập Tác Giả.." required value="@Model.TacGia">

        <label for="dichgia">Dịch Giả</label>
        <input type="text" id="dichgia" name="DichGia" placeholder="Nhập Dịch Giả.." required value="@Model.DichGia">

        <label for="ghichu">Ghi Chú</label>
        <select id="ghichu " name="GhiChu" required>
            @if (Model.GhiChu == "New")
            {
                <option value="New" selected>Sản Phẩm Mới</option>
                <option value="Old">Sản Phẩm Cũ</option>
            }
            else
            {
                <option value="New">Sản Phẩm Mới</option>
                <option value="Old" selected>Sản Phẩm Cũ</option>

            }


        </select>

        <label for="combo">Combo</label>
        <select id="combo " name="Combo" required>
            @if (Model.GhiChu == "0")
            {
                <option value="0" selected>Combo</option>
                <option value="1">Sách lẻ</option>
            }
            else
            {
                <option value="0">Combo</option>
                <option value="1" selected>Sách lẻ</option>

            }

        </select>
        <input type="submit" value="Submit">

    }
    

</div>


